<!DOCTYPE html>
<html>
    <head>
        <title>PersonalFinanceManagment</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/css?family=Martel:900" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-th-list icon-ok"></span>
                    </button>
                    <a class="navbar-brand" href="/">Team Red Bank</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><%= link_to "Insights", transactions_insights_path %><span class="sr-only">(current)</span></li>
                    </ul>
                </div>
            </div>
        </nav>
        <%= yield %>
        <script>
            var statusChanger = (function () {
                var statusColor = function () {
                    $(".category:contains('Bills')").attr("bgcolor", "#FFA7A9");
                    $(".category:contains('Transport')").attr("bgcolor", "#B48EE8");
                    $(".category:contains('Groceries')").attr("bgcolor", "#A9E1FF");
                    $(".category:contains('Shopping')").attr("bgcolor", "#8EE8A2");
                    $(".category:contains('Eat')").attr("bgcolor", "#FFFB9C");
                };

                return {color: statusColor};
            }());

            statusChanger.color();
        </script>
    </body>
</html>
