require 'pry'

<div class="container">
  <div id='insights-display'>
    <div>
      <% if !@transactions.empty? %>
      <% @transactions.each do |f| %>
      <% @total += f.amount %>
      <% if f.category == 'Groceries' %>
      <% @groceries_total += f.amount %>
      <%end%>
      <% if f.category == 'Bills' %>
      <% @bills_total += f.amount %>
      <%end%>
      <% if f.category == 'Transport' %>
      <% @transport_total += f.amount %>
      <%end%>
      <% if f.category == 'Shopping' %>
      <% @shopping_total += f.amount %>
      <%end%>
      <% if f.category == 'Eat & Drink Out' %>
      <% @eat_and_drink_out_total += f.amount %>
      <%end%>
      <%end%>
      <%end%>
    </div>
      <ul>
        <li> <%= "Total: £#{@total}" %> </li>
        <li> <%= "Groceries Total: £#{@groceries_total}" %> </li>
        <li> <%= "Bills Total: £#{@bills_total}" %> </li>
        <li> <%= "Transport Total: £#{@transport_total}" %> </li>
        <li> <%= "Shopping Total: £#{@shopping_total}" %> </li>
        <li> <%= "Eat & Drink Out Total: £#{@eat_and_drink_out_total}" %> </li>
    </ul>
  </div>
</div>
